<html>
  <head>  
    <title>Report List</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/report.css">
      <script src="lib/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script> 
      <script src="lib/angular/angular.min.js"></script>
  </head>
  <body ng-app="myApp">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-img" href="http://www.agrostar.in/"><img src="img/agrostar.png"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Reporting</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" >Prashant Wagh<i class="fa fa-user-circle fa-2x pull-right"; ;></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">LogOut</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
    <!-- side bar -->
      <div class="col-sm-3">
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="#">LMD Profile</a></li>
                <li><a href="file:///home/ubuntu/Project/src/app/index.html">LMD Report</a></li>
                <li><a href="#">Report List</a></li>
                <li><a href="#">LMD </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end side bar -->
      <div class="col-sm-9">
        <div class="generic-container" ng-controller="AppController as ctrl">
        <!-- report form modal -->
         <div class="modal fade" id="editModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
               <!--  <div class="modal-header">
                  
                </div> -->
                <form ng-submit="ctrl.submit()" name="myForm" class="form-inline">
                  <!-- <input type="hidden" ng-model="ctrl.report.no" /> -->
                 <h3>Report Form</h3>
                    <input type="text" ng-model="ctrl.report.reportname" id="rname" class="reportname form-control input-sm" placeholder="Enter report name" required/>
                    <div class="has-error" ng-show="myForm.$dirty">
                    </div> 
                            
                    <input type="url" ng-model="ctrl.report.url" id="url" class="url form-control input-sm" placeholder="Enter your url" required/> 
                    <div class="has-error" ng-show="myForm.$dirty">
          
                  </div>  
           
                    <div class="form-actions floatRight">
                      <input type="submit"   value="{{!ctrl.report.no ? 'Save' : 'Save Changes'}}" class="btn btn-primary btn-sm">
                      <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" data-dismiss="modal">Cancel</button>
                    </div>
                 
                </form>
                </div> 
              </div>
            </div>
            <!-- end report form modal -->
        <div class="panel panel-default">
            <!-- Default panel contents -->
          <div class="panel-heading"><span class="lead">List of Report </span></div>
          <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Url</th>
                    <th width="100"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="report in ctrl.reports">
                    <td>{{report.no}}</td>
                    <td>{{report.reportname}}</td>
                    <td>{{report.url}}</td>
                    <td>
                    <button type="button" id="editreport" data-toggle="modal" data-target="#editModal" ng-click="ctrl.edit(report.no)" class="btn custom-width">Edit</button> <button type="button" ng-click="ctrl.remove(report.no)" class="btn btn-danger custom-width"><i class="glyphicon glyphicon-remove btn-md";></i></button>
                     </td>
                  </tr>
                </tbody>
            </table>
           </div>
          </div>
        </div>
        <button id="editreport" data-toggle="modal" data-target="#editModal">Add Report</button>
      </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js">
</script>  
<script type="text/javascript" src="script/reportlist.js"></script>
     
  </body>
</html>